## **Python with SQLite Database**

In [1]:
# importing the required module
import sqlite3

In [2]:
# use the database if it pre-exists or create it otherwise
try:
    connection = sqlite3.connect("myemp.db")
    print ("Connected with the database successfully...")
except:
    print ("Database creation ERROR !!!")

Connected with the database successfully...

In [ ]:
https://extendsclass.com/sqlite-browser.html#

In [3]:
# create employee table as employee(emp_id, emp_name, emp_city, emp_salary)
sqlStr = '''
         CREATE TABLE employee (
             emp_id INTEGER PRIMARY KEY,
             emp_name TEXT,
             emp_city TEXT,
             emp_salary REAL
         );
         '''
try:    # create the employee table if it does not pre-exist
    connection.execute(sqlStr)
    print ("Database table has been created successfully...")
except:
    print ("Error occurred while creating the database table...")

Database table has been created successfully...

In [13]:
print (connection.execute('pragma table_info(employee)'))
print (list(connection.execute('pragma table_info(employee)')))  # returns list of tuples
for each_row in list(connection.execute('pragma table_info(employee)')):
    print (each_row)

<sqlite3.Cursor object at 0x0000023F6A34A8C0>
[(0, 'emp_id', 'INTEGER', 0, None, 1), (1, 'emp_name', 'TEXT', 0, None, 0), (2, 'emp_city', 'TEXT', 0, None, 0), (3, 'emp_salary', 'REAL', 0, None, 0)]
(0, 'emp_id', 'INTEGER', 0, None, 1)
(1, 'emp_name', 'TEXT', 0, None, 0)
(2, 'emp_city', 'TEXT', 0, None, 0)
(3, 'emp_salary', 'REAL', 0, None, 0)

In [9]:
# reading data from the csv file
import csv
# read lines from the csv file and store them into the table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader to read from the data file with ',' as a delimiter/separator
    print (list(csv_reader))
    print (len(list(csv_reader)))

[['1001', 'Dhiman', 'Kolkata', '39000'], ['1002', 'Anupam', 'Kolkata', '25000'], ['1003', 'Subham', 'Mumbai', '36000'], ['1004', 'Dinesh', 'Chennai', '28000'], ['1005', 'Kakali', 'Mumbai', '25000'], ['1006', 'Bimal', 'Hyderabad', '30000'], ['1007', 'Tarun', 'Chennai', '17000'], ['1008', 'Rittik', 'Durgapur', '45000'], ['1009', 'Barun', 'Hyderabad', '39000'], ['1010', 'Utpal', 'Lucknow', '20000']]
0