## **Python with SQLite Database**

In [1]:
# importing the required module
import sqlite3

In [2]:
# use the database if it pre-exists or create it otherwise
try:
    connection = sqlite3.connect("myemp.db")
    print ("Connected with the database successfully...")
except:
    print ("Database creation ERROR !!!")

Connected with the database successfully...

In [ ]:
https://extendsclass.com/sqlite-browser.html#

In [3]:
# create employee table as employee(emp_id, emp_name, emp_city, emp_salary)
sqlStr = '''
         CREATE TABLE employee (
             emp_id INTEGER PRIMARY KEY,
             emp_name TEXT,
             emp_city TEXT,
             emp_salary REAL
         );
         '''
try:    # create the employee table if it does not pre-exist
    connection.execute(sqlStr)
    print ("Database table has been created successfully...")
except:
    print ("Error occurred while creating the database table...")

Database table has been created successfully...

In [13]:
print (connection.execute('pragma table_info(employee)'))
print (list(connection.execute('pragma table_info(employee)')))  # returns list of tuples
for each_row in list(connection.execute('pragma table_info(employee)')):
    print (each_row)

<sqlite3.Cursor object at 0x0000023F6A34A8C0>
[(0, 'emp_id', 'INTEGER', 0, None, 1), (1, 'emp_name', 'TEXT', 0, None, 0), (2, 'emp_city', 'TEXT', 0, None, 0), (3, 'emp_salary', 'REAL', 0, None, 0)]
(0, 'emp_id', 'INTEGER', 0, None, 1)
(1, 'emp_name', 'TEXT', 0, None, 0)
(2, 'emp_city', 'TEXT', 0, None, 0)
(3, 'emp_salary', 'REAL', 0, None, 0)

In [9]:
# reading data from the csv file
import csv
# read lines from the csv file and store them into the table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader to read from the data file with ',' as a delimiter/separator
    print (list(csv_reader))
    print (len(list(csv_reader)))

[['1001', 'Dhiman', 'Kolkata', '39000'], ['1002', 'Anupam', 'Kolkata', '25000'], ['1003', 'Subham', 'Mumbai', '36000'], ['1004', 'Dinesh', 'Chennai', '28000'], ['1005', 'Kakali', 'Mumbai', '25000'], ['1006', 'Bimal', 'Hyderabad', '30000'], ['1007', 'Tarun', 'Chennai', '17000'], ['1008', 'Rittik', 'Durgapur', '45000'], ['1009', 'Barun', 'Hyderabad', '39000'], ['1010', 'Utpal', 'Lucknow', '20000']]
0

In [16]:
# reading data from the csv file and feeding it to the employee table
import csv
sqlStr = "INSERT INTO employee VALUES('{e_id}', '{e_name}', '{e_city}', '{e_salary}');"
# read lines from the csv file and store them into the table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader to read from the data file with ',' as a delimiter/separator
    for each_row in csv_reader:
        # print (each_row)
        connection.execute(sqlStr.format(e_id=each_row[0], e_name=each_row[1], e_city=each_row[2], e_salary=each_row[3]))
connection.commit()   # to make the change permanent
print ("All records got inserted successfully...")

All records got inserted successfully...

In [18]:
# csv_reader = csv.reader(data_file)

In [21]:
# retrieving records from the database table
# SQL for fetching all records from the table
sqlStr = "SELECT * FROM employee;"
# read from the table and point the cursor to the variable cur_table
cur_table = connection.execute(sqlStr)
# print (list(cur_table))
for row in list(cur_table):
    print(f"Emp-ID: {row[0]}, Emp-Name: {row[1]}, Emp-City: {row[2]}, Emp-Salary: {row[3]}")

Emp-ID: 1001, Emp-Name: Dhiman, Emp-City: Kolkata, Emp-Salary: 39000.0
Emp-ID: 1002, Emp-Name: Anupam, Emp-City: Kolkata, Emp-Salary: 25000.0
Emp-ID: 1003, Emp-Name: Subham, Emp-City: Mumbai, Emp-Salary: 36000.0
Emp-ID: 1004, Emp-Name: Dinesh, Emp-City: Chennai, Emp-Salary: 28000.0
Emp-ID: 1005, Emp-Name: Kakali, Emp-City: Mumbai, Emp-Salary: 25000.0
Emp-ID: 1006, Emp-Name: Bimal, Emp-City: Hyderabad, Emp-Salary: 30000.0
Emp-ID: 1007, Emp-Name: Tarun, Emp-City: Chennai, Emp-Salary: 17000.0
Emp-ID: 1008, Emp-Name: Rittik, Emp-City: Durgapur, Emp-Salary: 45000.0
Emp-ID: 1009, Emp-Name: Barun, Emp-City: Hyderabad, Emp-Salary: 39000.0
Emp-ID: 1010, Emp-Name: Utpal, Emp-City: Lucknow, Emp-Salary: 20000.0

### **Class Assignment-1**

In [22]:
# Fetch employee name, salary and 10% Tax against salaries of all employees.
# retrieving records from the database table
# SQL for fetching all records from the table
sqlStr = "SELECT emp_name, emp_salary, emp_salary * 0.10 FROM employee;"
# read from the table and point the cursor to the variable cur_table
cur_table = connection.execute(sqlStr)
# print (list(cur_table))
for row in list(cur_table):
    print(f"Emp-Name: {row[0]}, Emp-Salary: {row[1]}, Emp-Tax: {row[2]}")

Emp-Name: Dhiman, Emp-Salary: 39000.0, Emp-Tax: 3900.0
Emp-Name: Anupam, Emp-Salary: 25000.0, Emp-Tax: 2500.0
Emp-Name: Subham, Emp-Salary: 36000.0, Emp-Tax: 3600.0
Emp-Name: Dinesh, Emp-Salary: 28000.0, Emp-Tax: 2800.0
Emp-Name: Kakali, Emp-Salary: 25000.0, Emp-Tax: 2500.0
Emp-Name: Bimal, Emp-Salary: 30000.0, Emp-Tax: 3000.0
Emp-Name: Tarun, Emp-Salary: 17000.0, Emp-Tax: 1700.0
Emp-Name: Rittik, Emp-Salary: 45000.0, Emp-Tax: 4500.0
Emp-Name: Barun, Emp-Salary: 39000.0, Emp-Tax: 3900.0
Emp-Name: Utpal, Emp-Salary: 20000.0, Emp-Tax: 2000.0

### **Class Assignment-2**

In [25]:
# Fetch city wise average salaries for all the employees
sqlStr = "SELECT emp_city, AVG(emp_salary) FROM employee GROUP BY emp_city;"
# read from the table and point the cursor to the variable cur_table
cur_table = connection.execute(sqlStr)
# print (list(cur_table))
for row in list(cur_table):
    print(f"Emp-City: {row[0]} and Avg-Emp-Salary: {row[1]}")

Emp-City: Chennai and Avg-Emp-Salary: 22500.0
Emp-City: Durgapur and Avg-Emp-Salary: 45000.0
Emp-City: Hyderabad and Avg-Emp-Salary: 34500.0
Emp-City: Kolkata and Avg-Emp-Salary: 32000.0
Emp-City: Lucknow and Avg-Emp-Salary: 20000.0
Emp-City: Mumbai and Avg-Emp-Salary: 30500.0

In [ ]:
# update operation on the records of the table
# update salary to 30000 where city is Chennai