## **Python map() function**

> The map() function executes a specific function for each item in an iterable. The item is sent to the function as a parameter.<br>
> **Syntax**: map(function, iterables)

In [4]:
def myfunct(mystr):
    return len(mystr)

list1 = ['Sunday', 'Tuesday', 'Thursday', 'Saturday']
output = map(myfunct, list1)
print (list1)
print (output)
print (list(output))

['Sunday', 'Tuesday', 'Thursday', 'Saturday']
<map object at 0x000001F2FE07D240>
[6, 7, 8, 8]

In [5]:
def myfunct(var1, var2):
    return (var1 + var2)
list1 = ['Mond', 'Tue', 'Wedne', 'Saturd']
list2 = ['ay', 'sday', 'sday', 'ay']
output = map(myfunct, list1, list2)
print (output)
print (list(output))

<map object at 0x000001F2FC7A4550>
['Monday', 'Tuesday', 'Wednesday', 'Saturday']

In [8]:
def myfunct(var1, var2):
    return (var1 + var2)
list1 = [1000, 2000, 6000, 3000]
list2 = [11, 22, 66, 33, 44]
output = map(myfunct, list1, list2)
print (output)
print (list(output))

<map object at 0x000001F2FC7A44C0>
[1011, 2022, 6066, 3033]

In [24]:
list1 = input("Please enter series of numbers: ").split()
print (list1)
output = map(int, list1)
print (output)
print (list(output))

Please enter series of numbers: 11 33 22 44 55 88 77
['11', '33', '22', '44', '55', '88', '77']
<map object at 0x000001F2FBEDBA60>
[11, 33, 22, 44, 55, 88, 77]

In [23]:
output = list(map(int, input("Please enter series of numbers: ").split())) # input: [11 33 22 44 55 88 77]
print (output)   # [11, 33, 22, 44, 55, 88, 77]

Please enter series of numbers: 11 33 22 44 55 88 77
[11, 33, 22, 44, 55, 88, 77]

## **Python filter() function**

> The filter() function returns an iterator where the items are filtered through a function
to test if the item is accepted or not.<br>
**Syntax:** filter(function, iterable)

In [26]:
def myfunct(value):
    if (value < 18): return False
    else: return True
    
ages = [5, 12, 17, 19, 34, 20, 4]
adults = filter(myfunct, ages)
print (ages)
print (adults)
print (list(adults))

[5, 12, 17, 19, 34, 20, 4]
<filter object at 0x000001F2FDAB1540>
[19, 34, 20]

In [27]:
def myfunct(year_value):
    if (year_value % 400 == 0): return True
    if (year_value % 4 == 0 and year_value % 100 != 0): return True
    return False

print (list(filter(myfunct, [1800, 2000, 1900, 2024, 2020])))

[2000, 2024, 2020]

In [29]:
def myfunct(year):
    return True if (year % 400 == 0 or (year % 4 == 0 and year % 100 != 0)) else False

print (list(filter(myfunct, [1800, 2000, 1900, 2024, 2020])))

[2000, 2024, 2020]