## **Python map() function**

> The map() function executes a specific function for each item in an iterable. The item is sent to the function as a parameter.<br>
> **Syntax**: map(function, iterables)

In [4]:
def myfunct(mystr):
    return len(mystr)

list1 = ['Sunday', 'Tuesday', 'Thursday', 'Saturday']
output = map(myfunct, list1)
print (list1)
print (output)
print (list(output))

['Sunday', 'Tuesday', 'Thursday', 'Saturday']
<map object at 0x000001F2FE07D240>
[6, 7, 8, 8]

In [5]:
def myfunct(var1, var2):
    return (var1 + var2)
list1 = ['Mond', 'Tue', 'Wedne', 'Saturd']
list2 = ['ay', 'sday', 'sday', 'ay']
output = map(myfunct, list1, list2)
print (output)
print (list(output))

<map object at 0x000001F2FC7A4550>
['Monday', 'Tuesday', 'Wednesday', 'Saturday']

In [8]:
def myfunct(var1, var2):
    return (var1 + var2)
list1 = [1000, 2000, 6000, 3000]
list2 = [11, 22, 66, 33, 44]
output = map(myfunct, list1, list2)
print (output)
print (list(output))

<map object at 0x000001F2FC7A44C0>
[1011, 2022, 6066, 3033]

In [24]:
list1 = input("Please enter series of numbers: ").split()
print (list1)
output = map(int, list1)
print (output)
print (list(output))

Please enter series of numbers: 11 33 22 44 55 88 77
['11', '33', '22', '44', '55', '88', '77']
<map object at 0x000001F2FBEDBA60>
[11, 33, 22, 44, 55, 88, 77]

In [23]:
output = list(map(int, input("Please enter series of numbers: ").split())) # input: [11 33 22 44 55 88 77]
print (output)   # [11, 33, 22, 44, 55, 88, 77]

Please enter series of numbers: 11 33 22 44 55 88 77
[11, 33, 22, 44, 55, 88, 77]

## **Python filter() function**

> The filter() function returns an iterator where the items are filtered through a function
to test if the item is accepted or not.<br>
**Syntax:** filter(function, iterable)

In [26]:
def myfunct(value):
    if (value < 18): return False
    else: return True
    
ages = [5, 12, 17, 19, 34, 20, 4]
adults = filter(myfunct, ages)
print (ages)
print (adults)
print (list(adults))

[5, 12, 17, 19, 34, 20, 4]
<filter object at 0x000001F2FDAB1540>
[19, 34, 20]

In [27]:
def myfunct(year_value):
    if (year_value % 400 == 0): return True
    if (year_value % 4 == 0 and year_value % 100 != 0): return True
    return False

print (list(filter(myfunct, [1800, 2000, 1900, 2024, 2020])))

[2000, 2024, 2020]

In [29]:
def myfunct(year):
    return True if (year % 400 == 0 or (year % 4 == 0 and year % 100 != 0)) else False

print (list(filter(myfunct, [1800, 2000, 1900, 2024, 2020])))

[2000, 2024, 2020]

## **Python reduce() function**

> The reduce() function applies a function of two arguments cumulatively
to the elements of an iterable, optionally starting with an initial argument <br>
**Syntax:** reduce(funct, iterable [, initial])

In [32]:
from functools import reduce
def cumulative_sum(first, second):
    print (first, second)
    return first + second

numbers = [100, 200, 300, 500, 400]
result = reduce(cumulative_sum, numbers, 5000)
print (result)

5000 100
5100 200
5300 300
5600 500
6100 400
6500

In [35]:
from functools import reduce
def max_num(first, second):
    return first if (first > second) else second

numbers = [100, 1200, 300, 500, 400]
result = reduce(max_num, numbers)
print (result)

1200

## **zip() function**

In [37]:
fruits = ['apple', 'banana', 'pineapple', 'lime']
prices = [400, 500, 200, 350, 900, 120, 1000]
print (zip(fruits, prices))
print (list(zip(fruits, prices)))
print (tuple(zip(fruits, prices)))
print (dict(zip(fruits, prices)))

<zip object at 0x000001F2FD841F40>
[('apple', 400), ('banana', 500), ('pineapple', 200), ('lime', 350)]
(('apple', 400), ('banana', 500), ('pineapple', 200), ('lime', 350))
{'apple': 400, 'banana': 500, 'pineapple': 200, 'lime': 350}

In [43]:
fruits = ['apple', 'banana', 'pineapple', 'lime']
prices = [400, 500, 200, 350, 900, 120, 1000]
weights = [10, 30, 20, 44, 33]
print (zip(fruits, prices, weights))
print (list(zip(fruits, prices, weights)))
print (tuple(zip(fruits, prices, weights)))
# print (dict(zip(fruits, prices, weights)))
print (dict(zip(fruits, tuple(zip(prices, weights)))))
print (dict(zip(fruits, zip(prices, weights))))
print (dict(zip(fruits, list(zip(prices, weights)))))

<zip object at 0x000001F2FEB75B80>
[('apple', 400, 10), ('banana', 500, 30), ('pineapple', 200, 20), ('lime', 350, 44)]
(('apple', 400, 10), ('banana', 500, 30), ('pineapple', 200, 20), ('lime', 350, 44))
{'apple': (400, 10), 'banana': (500, 30), 'pineapple': (200, 20), 'lime': (350, 44)}
{'apple': (400, 10), 'banana': (500, 30), 'pineapple': (200, 20), 'lime': (350, 44)}
{'apple': (400, 10), 'banana': (500, 30), 'pineapple': (200, 20), 'lime': (350, 44)}

## **cycle() function**

In [46]:
import itertools
list1 = [(100, 34), "University", 43.2, [True, False]]
result = itertools.cycle(list1)
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result))

(100, 34)
University
43.2
[True, False]
(100, 34)
University

In [49]:
from itertools import cycle
list1 = [(100, 34), "University", 43.2, [True, False]]
result = cycle(list1)
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result))

(100, 34)
University
43.2
[True, False]
(100, 34)
University

## **Cartesian Product of list elements**

In [50]:
from itertools import product
list1 = ['Apple', 'Lemon']
list2 = [11, 33, 22]
result = product(list1, list2)
print (result)
print (list(result))

<itertools.product object at 0x000001F2FE9F7400>
[('Apple', 11), ('Apple', 33), ('Apple', 22), ('Lemon', 11), ('Lemon', 33), ('Lemon', 22)]

## **bisect_left and bisect_right**

In [52]:
from bisect import bisect_left
from bisect import bisect_right
list1 = [11, 22, 33, 44, 55, 66]
print (bisect_left(list1, 15), bisect_right(list1, 15))
print (bisect_left(list1, 75), bisect_right(list1, 75))
print (bisect_left(list1, 35), bisect_right(list1, 35))
print (bisect_left(list1, 44), bisect_right(list1, 44))

1 1
6 6
3 3
3 4

## **Sorting of a Matrix**

In [58]:
list1 = [10, 2, -3, 40]
list2 = [14, -22, 8, -10]
list3 = [6, -7, 10, 1]
final_list = []
for i in range(len(list1)):
    final_list.append([list1[i], list2[i], list3[i]])
print (final_list)
final_list1 = sorted(final_list, key = lambda lst:lst[-1])
print (final_list1)
print (final_list)
final_list.sort(key = lambda arr: arr[-1])
print (final_list)

[[10, 14, 6], [2, -22, -7], [-3, 8, 10], [40, -10, 1]]
[[2, -22, -7], [40, -10, 1], [10, 14, 6], [-3, 8, 10]]
[[10, 14, 6], [2, -22, -7], [-3, 8, 10], [40, -10, 1]]
[[2, -22, -7], [40, -10, 1], [10, 14, 6], [-3, 8, 10]]